.DataTab {
  margin-top: 1rem;
}

.Box {
  width: 50%;
  height: 100vh;
  float: left;
  justify-content: center;
  border-style: solid;
  padding: 1rem 2rem;
}
.box :first-child {
  align-self: center;
}

.Box2 {
  top: 150px;
  border-style: solid;
  padding: 1rem 2rem;
}
.wrapper {
  border: 1px solid blue;
  display: table;
}
.leftBox {
  border-style: solid;
  padding: 1rem 2rem;
  width: 50%;
  display: table-cell;
}
.rightBox {
  border-style: solid;
  padding: 1rem 2rem;
  width: 50%;
  display: table-cell;
}
